<!doctype html>
<html>

<head>
    <title>My Cybersecurity Website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header>
        <h1>Welcome to My Cybersecurity Website</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/cybersecurity">Cybersecurity</a>
        <a href="/login">Login</a>
    </nav>

    <main>
        <div class="card">
            <h2>Learn Cybersecurity</h2>
            <p>Learning cybersecurity and networking step by step.</p>
        </div>
    </main>

    <footer>
        <p>My Cybersecurity Website</p>
    </footer>

</body>
</html>
